.sidebar-wrapper {
  width: 80px;
  display: inline-block;
}
.content-wrapper {
  display: inline-block;
  width: calc(100% - 80px);
  position: absolute;
}
.dashboard-content {
  min-height: calc(100vh - 100px);
  padding: 10px;
  background-color: #f5f5f5;
}
